.single-product {
  flex: 1 1 25rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
}

.single-product img {
  width: 100%;
  padding: 1rem;
}

.single-product .content {
  padding: 1rem;
}

.single-product h3 {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.single-product p {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

span {
  display: block;
  text-align: center;
  font-size: 1.7rem;
  padding: 1rem 0;
  background: #ffe0b3;
  cursor: pointer;
}

.icon {
  margin-left: 1rem;
}
